body{
    background-color: rgb(0, 17, 90);
    box-shadow: 50px 30px 13px;
  border-color: #f8eeee;
  height: 70%;
  width: 90%;
}

.para {
 margin-top: 80px;
 background-color: black;
 color: #f8f4f4;
height: 50%;
 font-family: ' ğ“£ğ”‚ğ“¹ğ“® ğ“¼ğ“¸ğ“¶ğ“®ğ“½ğ“±ğ“²ğ“·ğ“° ğ“½ğ“¸ ğ“¼ğ“½ğ“ªğ“»ğ“½';
 font-size: xx-large;
 text-align: center;
 
}

.content,img {
  
  text-align: center;
  width:190px;
}
.content{
    background-color: rgb(44, 46, 46);
    color: #fff5f5;
    margin-top: 25px;
    display: inline-block;
    flex-wrap: wrap;
    flex: 20;
    padding: 25px;
    border: 8px solid black;
    border-radius: 30px;
    transition: all .3s ease; 
    margin-left:10% ; 
 box-shadow: 15px 10px 13px;
}
.sub{
    background-color: rgb(14, 62, 158);
    color: rgb(238, 238, 243);
}

.content-1,img {
  
     text-align: center;
     width: 190px;
  }
  .content-1{
      background-color: rgb(44, 46, 46);
      color: #f8eeee;
      margin-top: 25px;
      display: inline-block;
      flex-wrap: wrap;
      flex: 20;
      padding: 25px;
      border: 8px solid black;
      border-radius: 30px;
      transition: all .3s ease; 
      margin-left:10% ; 
      box-shadow: 15px 10px 13px;  
  }
  .sub1{
    background-color: lightslategrey;
    color: blue;
  }
  .content-2,img {
    text-align: center;
    
    width:179px;
  }
  .content-2{
    background-color: rgb(44, 46, 46);
    color: #f8f6f6;
      margin-top: 25px;
      display: inline-block;
      flex-wrap: wrap;
      flex: 20;
      padding: 25px;
      border: 8px solid black;
      border-radius: 30px;
      transition: all .3s ease; 
      margin-left:10% ;   
      box-shadow: 15px 10px 14px;
  }
  .sub2{
    background-color: lightslategrey;
    color: blue;
   
  }
  
  .abc{
    background-color: black;
  }
  