#abc{
  text-align: center;
  border-bottom: 10px solid rgb(73, 21, 170);
  letter-spacing: 15px;
  text-transform: uppercase;

}
h1{
  text-align: center;
  border-bottom: 8px solid rgb(12, 100, 34);
  letter-spacing: 9px;
  text-transform: uppercase;
}

body{
  background-color: rgb(19, 13, 13);
  color: rgb(145, 133, 28);
}