body{
    background-color: rgb(46, 104, 240);
    box-shadow:  50px 30px 13px;
    height: 90%;
    width: 90%;
}   

.main{
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 20px 20px 4px black;
    width: 30%;
    margin: auto;
    background-color: white;
    margin-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1{
    text-align: center;
    color: rgb(62, 23, 99);

}
h3{
    padding-left: 35px;
}
.input{
    text-align: center;
}
.input input{
    width: 250px;
    height: 30px;
    box-shadow: 7px 7px 2px black;
}
.button{
 
    text-align: center;
    padding-top: 30px;
}
.button button{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 2px black;
    background-color: blueviolet;
    font-weight: bolder;
 
}
div p{
    text-align: center;
    padding-top: 25px;
}
.abc{

    background-color: black;
}